[safe]
	directory = /storage/emulated/0/Download/KingdomLuxuruios
	directory = /storage/emulated/0/Download/KingdomLuxuruios
	directory = /storage/emulated/0/Download/KingdomLuxuruios
	directory = /storage/emulated/0/Download/KingdomLuxuruios
	directory = /storage/emulated/0/Download/KingdomLuxuruios
[user]
	name = Sirstarkoficial
	email = lentamazacuta123@gmail.com
